.findpassword-page {
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    .findpassword-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFF;
        width: 70%;
        border-radius: 10px;
        min-height: 600px;
    }
    .title {
        margin-top: 40px;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .state-one {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            .input {
                position: relative;    
                input {
                    border-radius: 3px;
                    outline: none;
                    line-height: 35px;
                    width: 250px;
                    border: 1px solid #706e6e;
                    padding-left: 30px;
                    &:hover {
                        border-color: cadetblue;
                    }
                }
                &::before {
                    position: absolute;
                    top: 6px;
                    left: 3px;
                    width: 30px;
                    height: 30px;
                    content: '';
                    background-image: url('../../assets/account_btn_2.svg');
                    background-size: 30px 30px;
                }
            }
            button {
                line-height: 30px;
                background: rgb(216, 123, 0);
                margin-top: 30px;
                outline: none;
                border-radius: 3px;
                color: #FFF;
            }
        }
    }
    nav {
        display: inline-block;
        letter-spacing: -4px;
        background: #333;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    }
    nav a{
        margin-left: 3px;
        display: inline-block;
        letter-spacing: 0px;
        padding: 8px 0;
        font-weight: 500;
        width: 123px;
        background: rgb(194, 113, 113);
        margin-left: -5px;
        margin-right: -5px;
        text-align: center;
        box-shadow: inset 0 1px 0px rgba(255,255,255,0.9),
                    inset 0 2px 0px rgba(0,0,0,0.01);
        color: rgb(19, 19, 19);
        text-decoration: none;
        clip-path: polygon(10px 50%, 0 0, 112px 0, 99% 50%, 112px 99%, 0 99%);
        background-image: -webkit-gradient(linear,center 0%,center 100%,from(rgba(255,255,255,0.6)), to(#ccc));
        transition: background-color 0.4s ease 0s;
        text-shadow : 0 1px 0px rgba(255,255,255,0.8);
        font-size: 0.9em;
    }
    .select {
        background: rgba(3, 243, 55, 0.333);
        color: #FFF;
    }
    nav a:first-child {
        margin-left: 0px;
        clip-path: polygon(0 0, 112px 0, 99% 50%, 112px 99%, 0 99%);
    }
    nav a:last-child {
        margin-right: 0px;
        clip-path: polygon(10px 50%, 0 0, 100% 0, 100% 99%, 0 99%);
    }
    nav a:hover {
        background: #ccc;
        box-shadow: inset 0 0px 6px rgba(0,0,0,0.2);
    }
    nav a:active {
        background: #ccc;
        box-shadow: inset 0 0px 8px rgba(0,0,0,0.5);
    }
}