.mydrafts-component {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    .empty-video {
        position: absolute;
        top: 300px;
        left: 300px;
        font-size: 20px;
        font-weight: 600;
        display: flex;
        align-items: center;
        .empty-img {
            width: 100px;
            margin-right: 20px;
        }
    }
    .item {
        border: 1px solid #918f8f;
        &:hover {        
            border: 1px solid blueviolet;
        }
        border-radius: 10px;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        .avator {
            border-radius: 10px;
            width: 100px;
            height: 100px;
            border: 1px solid #ff9600;
            overflow: hidden;
        }
        .right-description {
            display: flex;
            margin-left: 10px;
            flex-direction: column;
            .first {
                display: flex;
                .category {
                    padding-left: 10px;
                    padding-right: 10px;
                    line-height: 30px;
                    border-radius: 10px;
                    border: 1px solid #dddddd;
                }
                .title {
                    margin-left: 10px;
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            .second {
                margin-left: 10px;
                display: flex;
                margin-top: 8px;
                line-height: 30px;
                .line {
                    margin-top: 6px;
                    margin-left: 15px;
                    width: 1px;
                    height: 20px;
                    background-color: #918f8f;
                }
                .time {
                    font-size: 15px;
                    color: #918f8f;
                }
                .label {
                    margin-left: 20px;
                    font-size: 17px;
                }
                .delete-btn {
                    margin-left: 10px;
                    background: #753560;
                }
                button {
                    margin-left: 200px;
                    background: #ff9600;
                    padding-left: 10px;
                    padding-right: 10px;
                    color: white;
                    line-height: 30px;
                    border: none;
                    border-radius: 5px;
                    outline: none;
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
            .third {
                display: flex;
                margin-top: 10px;
                .play {
                    margin-left: 0px;
                }
                img {
                    margin-right: 5px;
                    margin-left: 20px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}