.upload-video-component {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: white;
    text-align: center;
    margin-top: 40px;
    margin: auto;
    border: 1px solid #EAEAEA;
    img {
        line-height: 400px;
    }
    .upload-video {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
        width: 100px;
        background-color: #FF971C;
        border-radius: 5px;
        line-height: 40px;
        font-size: 16px;
        color: white;
    }
    .upload-text {
        margin-top: 30px;
        font-size: 13px;
        a {
            color: #FF971C;
        }
    }
}