.mask-app {
    position: relative;
    width: 100%;  
    display: flex;
    flex-direction: column;
    background-color: #f4f5f8;
    .content {
      overflow: auto;
      display: flex;
      padding-top: 30px;
      width: 100%;
    }
}