.topbar {
    width: 100%;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,.06);
    border-bottom: 1px solid #e2e2e2;
    min-height: 50px;
    .topbar-content {
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width:1100px;
        .left {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 15px;
            a {
                height: 50px;
            }
            img {
                width: 180px;
                height: 50px;
            }      
            .dropitem {
                position: relative;
                display: inline-block;
                height: 40px;
                .item {
                    font-size: 15px;
                    line-height: 40px;
                    padding-left: 10px;
                    padding-right: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    .closeBox{
                        margin-left: 5px;
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        transition: transform 0.5s;
                        background-image: url('../../assets/arrow.svg');
                        background-size: 10px 10px;
                    }
                    .closeBox img{
                        width: 10px;
                        height: 10px;
                    }

                    &:hover {
                      border-radius: 10px;
                      background-color: #ff9600;
                      transition: transform .25s linear;
                        .closeBox {
                            transform: rotate(180deg);
                        }
                    }

                }
                .input {
                    box-sizing: content-box;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 10px;
                    font-size: 15px;
                    background: #e4e6ea;
                    display: flex;
                    flex-direction: row;
                    justify-items: center;
                    align-items: center;
                    input {
                        height: 40px;
                        border-radius: 10px;
                        border: none;
                        outline: none;
                        background: #e4e6ea;
                    }
                    .icon {
                        width: 15px;
                        height: 15px;
                        background-size: 15px 15px;
                        background-image: url('../../assets/search_btn_1.png')
                    }
                    &:hover {
                        background: white;
                        border: 1px solid #ff9600;
                        input {
                            background: white;
                            border: none;
                        }
                        .icon {
                            background-image: url('../../assets/search_btn_0.png')
                        }
                    }
                }
                .dropitem-content {
                    display: none;
                    position: absolute;
                    left: -70px;
                    background-color: #f9f9f9;
                    min-width: 240px;
                    border-radius: 7px;
                    padding-top: 10px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    padding: 8px 8px;
                    z-index: 101;
                    .category {
                        display: flex;
                        flex-wrap: wrap;
                        .category-item {
                            margin-left: 3px;
                            margin-bottom: 3px;
                            padding-left: 10px;
                            padding-right: 10px;
                            line-height: 30px;
                            border-radius: 6px;
                        }
                    }
                    .board {
                        line-height: 15px;
                        .border-item {
                            margin-left: 10px;
                            .num {
                                text-align: center;
                                border-radius: 10px;
                                width: 15px;
                                margin-right: 3px;
                                color: white;
                            }
                            display: flex;
                            align-items: center;
                        }
                    }
                    .hot {
                        .hot-item {
                            margin-left: 20px;
                            margin-bottom: 4px;
                            display: flex;
                            align-items: center;
                            line-height: 20px;
                            font-size: 15px;
                            .play-img {
                                width: 20px;
                                height: 20px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
                &:hover {
                    border-radius: 10px;
                    background-color: #ff9600;
                    transition: transform .25s linear;
                      .closeBox {
                          transform: rotate(180deg);
                      }
                      .dropitem-content {
                          display: block;
                      }
                }
            }
        }
        .right {
            display: flex;
            flex-direction: row;
            align-items: center;
            .dropitem {
                position: relative;
                display: inline-block;
                height: 40px;
                .dropitem-content {
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 150px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    padding: 12px 16px;
                    z-index: 101;
                    border-radius: 5px;
                    .history {
                        display: flex;
                        flex-direction: column;
                        .history-item {
                            margin-right: 10px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            line-height: 20px;
                            .time {
                                margin-right: 5px;
                                color: #6d6d6d;
                                font-size: 10px;
                            }
                            .history-text {
                                font-size: 13px;
                            }
                        }
                    }
                }
                &:hover {
                    border-radius: 10px;
                    transition: transform .25s linear;   
                    .dropitem-content {
                        display: block;
                    }
                }
            }
            .item {
                font-size: 15px;
                line-height: 40px;
                padding-left: 10px;
                padding-right: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .icon-upload {
                    width: 18px;
                    height: 18px;
                    background-size: 18px 18px;
                    background-image: url('../../assets/upload_btn_0.svg');
                }
                .item-upload-text {
                    margin-left: 3px;
                    font-weight: 700;
                }
                &:hover {
                    color: #ff9600;
                }
                .item-text {
                    margin-left: 5px;
                }
                .icon {
                    width: 18px;
                    height: 18px;
                    background-size: 18px 18px;
                    background-image: url('../../assets/history_btn_0.svg');
                }
                &:hover .icon {
                    background-image: url('../../assets/history_btn_1.svg');
                }
                .icon-subscribe {
                    width: 18px;
                    height: 18px;
                    background-size: 18px 18px;
                    background-image: url('../../assets/subscribe_btn_0.svg');
                }
                &:hover .icon-subscribe {
                    background-image: url('../../assets/subscribe_btn_1.svg');
                }
                .icon-account {
                    width: 18px;
                    height: 18px;
                    background-size: 18px 18px;
                    background-image: url('../../assets/account_btn_0.svg');
                }
                &:hover .icon-account {
                    background-image: url('../../assets/account_btn_1.svg');
                }
            }
        }
    }
    .auth-item {
        display: flex;
    }
    .auth-detail {
        display: flex;
        align-items: center;
        .dropitem {
            position: relative;
            display: inline-block;
            height: 40px;

            &:hover {
                border-radius: 10px;
                transition: transform .25s linear;
                .closeBox {
                    transform: rotate(180deg);
                }
                .dropitem-content {
                    display: block;
                }
            }
            .dropitem-content {
                .subscribe {
                    width: 200px;
                    .subscribe-item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .subscribe-left {
                            display:flex;
                            .avator {
                                width: 50px;
                                height: 50px;
                                border-radius: 25px;
                            }
                            .user-detail {
                                margin-right: 10px;
                                .user-title {
                                    font-size: 15px;
                                    line-height: 20px;
                                }
                                .signature {
                                    font-size: 13px;
                                    color: #6d6d6d;
                                    line-height: 20px;
                                }
                            }
                        }
                        .subscribe-right {
                            line-height: 20px;
                            .watch-img {
                                width: 20px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
                display: none;
                position: absolute;
                border: 1px solid #e4e6ea;
                border-radius: 10px;
                background-color: #f9f9f9;
                min-width: 200px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                padding: 12px 16px;
                z-index: 1;
                text-align: center;
                .drop-img {
                    margin-top: 10px;
                    width: 60px;
                    height: 60px;
                }
                .auth-userinfo {
                    margin-top: -20px;
                    .userinfo-username {
                        font-size: 17px;
                        font-weight: 700;
                        img {
                            width: 15px;
                            height: 15px;
                            background-size: 15px 15px;
                        }
                    }
                    .userinfo-age {
                        margin-top: -20px;
                        img {
                            margin-right: 3px;
                            width: 10px;
                            height: auto;
                            border-radius: 0px;
                            background-size: 15px auto;
                        }
                    }
                    .userinfo-signature {
                        margin-top: -20px;
                        img {
                            margin-right: 3px;
                            width: 10px;
                            height: auto;
                            border-radius: 0px;
                            background-size: 15px auto;
                        }
                    }
                }
                .loginout {
                    position: absolute;
                    right: 10px;
                    top: 0px;
                    font-size: 11px;
                    font-weight: 800;
                    display: flex;
                    align-items: center;
                    img {
                        border-radius: 0;
                        width: 20px;
                        height: 20px;
                        background-size: 20px 20px;
                        margin: 0px;
                    }
                }
            }
        }
        img {
            margin-top: -10px;
            margin-left: 10px;
            width: 40px;
            height: 40px;
            border-radius: 20px;
        }
        .text {
            margin-top: -5px;
            margin-left: 10px;
            font-weight: 700;
            font-size: 16px;
        }
        .closeBox {
            margin-left: 6px;
            margin-top: -3px;
            display: inline-block;
            width: 10px;
            height: 10px;
            transition: transform 0.5s;
            background-image: url('../../assets/arrow_0.svg');
            background-size: 10px 10px;
        }
        .auth-detail-user {
            display: flex;
            align-items: center;

        }
    }
}
