.topbar {
    width: 100%;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    .topbar-content {
        width: 80%;
        display: flex;
        flex-direction: row;
        a {
            height: 50px;
        }
        img {
            width: 180px;
            height: 50px;
        }
          
        .item {
            font-size: 15px;
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .closeBox{
                display: inline-block;
                width: 10px;
                height: 10px;
                transition: transform 0.5s;
                background-image: url('../../assets/arrow.svg');
                background-size: 10px 10px;
            }
            .closeBox img{
                width: 10px;
                height: 10px;
            }
            &:hover {
              border-radius: 10px;
              background-color: aqua;
              transition: transform .25s linear;
              .closeBox {
                transform: rotate(180deg);
              }
            }
        }
    }
}
