.topbar {
    width: 100%;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,.06);
    border-bottom: 1px solid #e2e2e2;
    .topbar-content {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .left {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 15px;
            a {
                height: 50px;
            }
            img {
                width: 180px;
                height: 50px;
            }      
            .dropitem {
                position: relative;
                display: inline-block;
                height: 40px;
                .item {
                    font-size: 15px;
                    line-height: 40px;
                    padding-left: 10px;
                    padding-right: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    .closeBox{
                        margin-left: 5px;
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        transition: transform 0.5s;
                        background-image: url('../../assets/arrow.svg');
                        background-size: 10px 10px;
                    }
                    .closeBox img{
                        width: 10px;
                        height: 10px;
                    }

                    &:hover {
                      border-radius: 10px;
                      background-color: #ff9600;
                      transition: transform .25s linear;
                        .closeBox {
                            transform: rotate(180deg);
                        }
                    }

                }
                .input {
                    box-sizing: content-box;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 10px;
                    font-size: 15px;
                    background: #e4e6ea;
                    display: flex;
                    flex-direction: row;
                    justify-items: center;
                    align-items: center;
                    input {
                        height: 40px;
                        border-radius: 10px;
                        border: none;
                        outline: none;
                        background: #e4e6ea;
                    }
                    .icon {
                        width: 15px;
                        height: 15px;
                        background-size: 15px 15px;
                        background-image: url('../../assets/search_btn_1.png')
                    }
                    &:hover {
                        background: white;
                        border: 1px solid #ff9600;
                        input {
                            background: white;
                            border: none;
                        }
                        .icon {
                            background-image: url('../../assets/search_btn_0.png')
                        }
                    }
                }
                .dropitem-content {
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    padding: 12px 16px;
                    z-index: 1;
                }
                &:hover {
                    border-radius: 10px;
                    background-color: #ff9600;
                    transition: transform .25s linear;
                      .closeBox {
                          transform: rotate(180deg);
                      }
                      .dropitem-content {
                          display: block;
                      }
                }
            }

        }
        .right {
            display: flex;
            flex-direction: row;
            .item {
                font-size: 15px;
                line-height: 40px;
                padding-left: 10px;
                padding-right: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                &:hover {
                    color: #ff9600;
                }
                .item-text {
                    margin-left: 5px;
                }
                .icon {
                    width: 18px;
                    height: 18px;
                    background-size: 18px 18px;
                    background-image: url('../../assets/history_btn_0.svg');
                }
                &:hover .icon {
                    background-image: url('../../assets/history_btn_1.svg');
                }
                .icon-account {
                    width: 18px;
                    height: 18px;
                    background-size: 18px 18px;
                    background-image: url('../../assets/account_btn_0.svg');
                }
                &:hover .icon-account {
                    background-image: url('../../assets/account_btn_1.svg');
                }
            }
        }
    }
}
