.modifynickname-component {
    width: 100%;
    padding-left: 30px;
    padding-top: 30px;
    .title {
        display: flex;
        align-items: center;
        .return-img {
            width: 40px;
        }
        .title-text {
            margin-left: 5px;
            line-height: 40px;
            font-size: 20px;
            font-weight: 700;
        }
    }
    .current-nickname {
        margin-top: 15px;
        width: 500px;
        padding: 15px 20px 15px;
        border-radius: 10px;
        background-color: #f0eeee;
        font-weight: 400;
        .bold {
            margin-left: 10px;
            font-size: 20px;
            color: chocolate;
            font-weight: 700;
        }
    }
    .new-nickname {
        margin-left: 10px;
        margin-top: 50px;
        width: 300px;
        line-height: 40px;
        border-radius: 10px;
        padding-left: 10px;
        outline: none;
        &:focus {
            box-shadow: 0 0 0 2px #ff9600;
        }
    }
    button {
        margin-left: 50px;
        margin-top: 15px;
        padding: 10px 30px 10px 30px;
        font-size: 15px;
        font-weight: 600;
        background-color: #ff9600;
        outline: none;
        border: none;
        border-radius: 10px;
    }
}