.home-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .swiper {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .category {
        width: 75%;
        border-radius: 10px;
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: white;
        .category-title {
            width: 100%;
            display: flex;
            flex-direction: row;
            text-align: center;
            .category-item {
                margin-left: 10px;
                .icon {
                    text-align: center;
                    .index_svg {
                        width: 20px;
                    }
                }
            }
        }
    }
}