.videopage-component {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: auto;
    .left-video {
        margin-left: 60px;
        width: 63%;
        display: flex;
        flex-direction: column;
        .video-main {
            border: 1px solid #e2e2e2;
            padding: 20px;
            background: white;        
            border-radius: 10px;
            .video-title {
                font-size: 17px;
                font-weight: 500;
            }
            .video-description {
                .time {
                    margin-left: 20px;
                }
            }
            .video-video {
                display: flex;
                .video-tab {
                    display: flex;
                    flex-direction: column;
                    .tab > .tab-text {
                        position: relative;
                        display: inline-block;
                        text-align: center;
                        font-size: 15px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        padding-left: 10px;
                        padding-right: 10px;
                        width: 20px;
                        word-wrap: break-word;
                        line-height: auto;
                    }
                    .tab > .tab-text::before {
                        content: '';
                        position: absolute;
                        top: 0; 
                        right: 0; 
                        bottom: 0; 
                        left: 0;
                        z-index: 1;
                        background: #ff9600;
                        border: 1px solid rgba(0,0,0,.4);
                        border-radius: .5em .5em .5em .5em;
                        transform: perspective(50px) rotateY(-10deg);
                        transform-origin: right;
                    }
                    .dd {
                        position: relative;
                        z-index: 2;
                        color: #ffffff;
                    }
                }
            }
        }
        .video-comments {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            .comment-send {
                display: flex;
                justify-content: space-between;
                background: #ffffff;
                margin-top: 10px;
                border: 1px solid #e2e2e2;
                padding: 20px;
                border-radius: 10px;
                img {
                    width: 70px;
                    height: 70px;
                    border-radius: 35px;
                }
                textarea {
                    overflow: hidden;
                    margin-left: 20px;
                    margin-right: 20px;
                    flex: 1;
                    overflow: auto;
                    margin-top: 5px;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-radius: 10px;
                    height: 60px;
                    padding-left: 6px;
                    outline: none;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    resize: none;
                }                
                /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
                ::-webkit-scrollbar
                {
                    width: 16px;
                    background-color: #F5F5F5;
                }
                
                /*定义滚动条轨道 内阴影+圆角*/
                ::-webkit-scrollbar-track
                {
                    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                    border-radius: 10px;
                    background-color: #F5F5F5;
                }
                
                /*定义滑块 内阴影+圆角*/
                ::-webkit-scrollbar-thumb
                {
                    border-radius: 10px;
                    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                    background-color: #555;
                }
                button {
                    height: 60px;
                    outline: none;
                    border: none;
                    margin-top: 10px;
                    background: #3e87cc;
                    border-radius: 10px;
                }
            }
            .title {
                font-size: 20px;
                font-weight: 800;
            }
            .comment {
                margin-top: 10px;
                border: 1px solid #e2e2e2;
                padding: 20px;
                background: white;
                border-radius: 10px;
                display: flex;
                img {
                    width: 70px;
                    height: 70px;
                    border-radius: 35px;
                }
                .comment-content {
                    margin-left: 10px;
                    margin-top: -2px;
                    .comment-username {
                        font-size: 19px;
                        font-weight: 900;
                    }
                    .comment-text {
                        font-size: 14px;
                    }
                    .comment-bottom {
                        margin-top: 5px;
                        line-height: 20px;
                        .comment-index {
                            color: #797979;
                            font-size: 15px;
                            font-weight: 900;
                        }
                        .comment-time {
                            margin-left: 80px;
                            font-weight: 600;
                            font-size: 12px;
                            color: #696464;
                        }
                        .like-num {
                            margin-left: 2px;
                            font-size: 13px;
                            color: #d40fee;
                            font-weight: 600;
                        }
                        .unlike-num {
                            margin-left: 3px;
                            color: #2b0a30;
                            font-weight: 600;
                        }
                        .comment-reply {
                            margin-left: 40px;
                            font-weight: bolder;
                            &:hover {
                                color: #0467b8;
                            }
                        }
                        .like {
                            margin-left: 30px;
                            display: inline-block;
                            width: 15px;
                            height: 15px;
                            background-image: url('../../assets/like_btn_0.svg');
                            background-size: 15px 15px;
                            background-position-y: 1.5px;
                            &:hover {
                                background-image: url('../../assets/like_btn_1.svg')
                            }
                        }
                        .unlike {
                            margin-left: 20px;
                            display: inline-block;
                            width: 15px;
                            height: 15px;
                            background-position-y: 2px;
                            background-image: url('../../assets/unlike_btn_0.svg');
                            background-size: 15px 15px;
                            &:hover {
                                background-image: url('../../assets/unlike_btn_1.svg');
                            }
                        }
                    }
                }
                .sub-comments {
                    .sub-comment {
                        .line {
                            margin-top: 10px;
                            width: 60%;
                            height: 1px;
                            background: #696464;
                        }
                        .sub-comment-content {
                            margin-top: 10px;
                            display: flex;
                            img {
                                width: 54px;
                                height: 54px;
                                border-radius: 27px;
                            }
                            .sub-comment-description {
                                margin-left: 10px;
                                .send {
                                    color: #ff9600;
                                    margin-right: 5px;
                                }
                                .receive {
                                    color: #d40fee;
                                    margin-left: 5px;
                                    margin-right: 3px;
                                }
                                .sub-comment-content {
                                    input {
                                        padding-left: 10px;
                                        border-radius: 3px;
                                        border: 1px solid #3e87cc;
                                    }
                                    button {
                                        margin-left: 10px;
                                        border-radius: 3px;
                                    }
                                }
                                .sub-comment-bottom {
                                    line-height: 18px;
                                    .comment-index {
                                        color: #797979;
                                        font-size: 15px;
                                        font-weight: 900;
                                    }
                                    .comment-time {
                                        margin-left: 80px;
                                        font-weight: 600;
                                        font-size: 12px;
                                        color: #696464;
                                    }
                                    .like-num {
                                        margin-left: 2px;
                                        font-size: 13px;
                                        color: #d40fee;
                                        font-weight: 600;
                                    }
                                    .unlike-num {
                                        margin-left: 3px;
                                        color: #2b0a30;
                                        font-weight: 600;
                                    }
                                    .comment-reply {
                                        margin-left: 40px;
                                        font-weight: bolder;
                                        &:hover {
                                            color: #0467b8;
                                        }
                                    }
                                    .like {
                                        margin-left: 30px;
                                        display: inline-block;
                                        width: 15px;
                                        height: 15px;
                                        background-image: url('../../assets/like_btn_0.svg');
                                        background-size: 15px 15px;
                                        background-position-y: 1.5px;
                                        &:hover {
                                            background-image: url('../../assets/like_btn_1.svg')
                                        }
                                    }
                                    .unlike {
                                        margin-left: 20px;
                                        display: inline-block;
                                        width: 15px;
                                        height: 15px;
                                        background-position-y: 2px;
                                        background-image: url('../../assets/unlike_btn_0.svg');
                                        background-size: 15px 15px;
                                        &:hover {
                                            background-image: url('../../assets/unlike_btn_1.svg');
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .sub-more {
                        margin-top: 10px;
                        color: #0467b8;
                        font-weight: 700;
                    }
                }
            }
            .no-comment {
                margin-top: 10px;
                border: 1px solid #e2e2e2;
                padding: 20px;
                font-size: 20px;
                border-radius: 10px;
                font-weight: 600;
                background: white;
            }
        }
    }
    .right-user {
        border: 1px solid #e2e2e2;
        width: 20%;
        border-radius: 10px;
        background: white;
        padding: 20px;
        margin-right: 60px;
        display: flex;
        flex-direction: column;
        .user-detail {
            display: flex;
            flex-direction: row;
            .avator {
                border-radius: 35px;
                width: 70px;
                height: 70px;
            }
            .user-detail-description {
                margin-left: 20px;
                .username {
                    line-height: 30px;
                    font-weight: bolder;
                    font-size: 15px;
                }
                .send-message {
                    margin-left: 20px;
                    background-size: 20px 20px;
                    line-height: 30px;
                    background-position-y: -3px;
                    padding-left: 20px;
                    background-repeat: no-repeat;
                    background-image: url('../../assets/send-mail-btn.svg');
                    &:hover {
                        color: #ff9600;
                        background-image: url('../../assets/send-mail-btn-0.svg');
                    }
                }
                .follow {
                    margin-top: 10px;
                    border-radius: 10px;
                    line-height: 30px;
                    padding-left: 10px;
                    padding-right: 10px;
                    text-align: center;
                    color: white;
                    width: 65%;
                    background-color: #ff9600;
                    img {
                        vertical-align: middle;
                        width: 20px;
                        height: 20px;
                    };
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }
        .video-barrage {
            margin-top: 10px;
            .barrage-title {
                background: #797979;
                line-height: 30px;
                border-radius: 3px;
                font-size: 15px;
                color: white;
                padding-left: 10px;
                font-weight: 500;
            }
            .barrages {
                margin-top: 10px;
                height: 360px;
                overflow: auto;
                padding-right: 4px;
                .barrage-table {
                    display: flex;
                    justify-content: space-between;
                    font-weight: 400;
                    font-size: 13px;
                }
                .barrage {
                    display: flex;
                    line-height: 20px;
                    font-size: 12px;
                    justify-content: space-between;
                    font-weight: 300;
                }
            }
            /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
            ::-webkit-scrollbar
            {
                width: 6px;
                background-color: #F5F5F5;
            }
            
            /*定义滚动条轨道 内阴影+圆角*/
            ::-webkit-scrollbar-track
            {
                box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 10px;
                background-color: #F5F5F5;
            }
            
            /*定义滑块 内阴影+圆角*/
            ::-webkit-scrollbar-thumb
            {
                border-radius: 10px;
                box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                background-color: #555;
            }
        }
        .video-input {
            margin-top: 10px;
            border: 1px solid #ff9600;
            line-height: 30px;
            border-radius: 10px;
            padding-left: 10px;
            .barrage-input {
                display: flex;
                input {
                    flex: 1;
                    line-height: 30px;
                    border: none;
                    outline: none;
                }
                button {
                    &:hover {
                        opacity: 0.9;
                    }
                    border: none;
                    color: white;
                    outline: none;
                    background: #8f5b0c;
                    border-radius: 10px;             
                }
            }
            .login-text {
                font-weight: 700;
                color: #ff9600;
                margin-right: 5px;
            }
            .register-text {
                font-weight: 700;
                color: #3e87cc;
                margin-left: 5px;
                margin-right: 5px;
            }

        }
    }
}