.person-component {
    padding-bottom: 200px;
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    min-width: 840px;
    .person-content {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: row;
        .left {
            width: 150px;
            min-width: 120px;
            background: #e4e4e4;
            padding-top: 10px;
            line-height: 40px;
            box-shadow: 0px 10px 3px #888888;
            .title {
                padding-left: 15px;
                width: 100%;
                font-size: 14px;
                font-weight: bolder;
            }
            .item-select {
                padding-left: 15px;
                font-size: 15px;
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: aliceblue;
                border-left: 2px solid #ff9600;
            
                img {
                    width: 20px;
                    height: 20px;
                }
                .contentText {
                    margin-left: 10px;
                }
            }
            .item {
                padding-left: 15px;
                font-size: 15px;
                display: flex;
                flex-direction: row;
                align-items: center;
                img {
                    width: 20px;
                    height: 20px;
                }
                .contentText {
                    margin-left: 10px;
                }
                &:hover {
                    background-color: rgb(224, 240, 255); 
                }
            }
        }
        .right {
            width: 100%;
            height: 100%;
            min-width: 760px;
            background: white;
            box-shadow: 0px 10px 3px #888888;
        }
    }
}