.person-component {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 88%;
    .person-content {
        flex: 1;
        width: 70%;
        display: flex;
        flex-direction: row;
        .left {
            width: 150px;
            background: #e4e4e4;
            height: 100%;
            padding-top: 10px;
            line-height: 40px;
            .title {
                padding-left: 10px;
                width: 100%;
                font-size: 14px;
                font-weight: bolder;
            }
            .item {
                padding-left: 10px;
                font-size: 15px;
            }
        }
        .right {
            height: 100%;
            background: white;
        }
    }
}