.drafts-component {
    width: 100%;
    .drafts-content {
        width: 70%;
        margin: auto;
        background-color: white;
        border: 1px solid #EAEAEA;
        border-radius: 10px;
        padding: 60px;
        padding-top: 30px;
        .file-title {
            font-size: 20px;
            font-weight: bolder;
        }
        .file-description {
            margin-top: 20px;    
            .file-detail {
                img {
                    width: 45px;
                    height: 30px;
                }
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 20px;
                .file-upload {
                    flex: 1;
                    margin-left: 20px;
                    line-height: 20px;
                    font-size: 15px;
                    .file-video-name {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                    img {
                        width: 15px;
                        vertical-align: middle;
                    }
                    .upload-percent {
                        font-size: 13px;
                        color: gray;
                    }
                }
                .file-finish-img {
                    width: 15px;
                    height: auto;
                }
                .file-delete {
                    margin-right: 10px;
                    display: none;
                }
                &:hover .file-delete{
                    display: inline-block;
                }
            }
        }
        .add-upload-video {
            margin-top: 20px;
            background:#ff9600;
            color: white;
            line-height: 40px;
            font-size: 15px;
            width: 100px;
            border-radius: 5px;
            text-align: center;
            &:hover {
                opacity: 0.9;
            }
        }
        .line {
            margin-top: 30px;
            margin-bottom: 30px;
            width: 100%;
            height: 1px;
            background: gray;
        }
        .base-info {
            font-size: 20px;
            font-weight: bolder;
            margin-bottom: 10px;
        }
        .video-cover {
            margin-bottom: 10px;
            .video-cover-text {
                font-size: 15px;
            }
        }
        .cover-img {
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            .cover-img-left {
                border: 1px dashed #99a2aa;
                border-radius: 4px;
                width: 200px;
                height: 126px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: relative;
                img {
                    width: 30px;
                }
                &:hover {
                    opacity: 0.7;
                }
                .right-bottom {
                    bottom: 5px;
                    right: 5px;
                    background: rgba(0, 0, 0, 0.5);
                    position: absolute;
                    border-radius: 3px;
                    line-height: 20px;
                    color: white;
                    padding: 3px 3px 3px 3px;
                }
            }
            .cover-img-right {
                padding: 11px 30px 11px 30px;            
                margin-left: 30px;
                flex: 1;
                display: flex;
                flex-direction: column;
                border: 1px solid #ccd0d7;
                border-radius: 4px;
                position: relative;
                .cover-img-right-text {
                    color: gray;
                    margin-bottom: 3px;
                }
                .cover-img-right-imgs {
                    display: flex;
                    width: 710px;
                    flex-direction: row;
                    overflow-x: scroll;
                    .cover-img-right-imgs-value {
                        position: relative;
                        img {
                            margin-right: 30px;
                            width: 120px;
                            height: 75px;
                            border-radius: 4px;
                            border: 2px solid #00a1d6;
                        }
                        .select-img {
                            position: absolute;
                            img {
                                width: 20px;
                                height: 20px;
                                border: none;
                            }
                            bottom: 0px;
                            right: 0px;
                        }
                    }
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
                &:before {
                    display:block;
                    content:'';
                    border-width:10px 10px 10px 10px;
                    border-style:solid;
                    border-color:transparent #ccd0d7 transparent  transparent;
                    /* 定位 */
                    position:absolute;
                    left: -20px;
                    top: 55px;
                }
            }
        }
    }
}