.drafts-component {
    width: 100%;
    .drafts-content {
        width: 70%;
        margin: auto;
        background-color: white;
        border: 1px solid #EAEAEA;
        border-radius: 10px;
        padding: 30px;
        text-align: center;
    }
}