.myinfo-component {
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    .info-title {
        display: flex;
        flex-direction: row;
        .avator-img {
            width: 100px;
            height: 100px;
            border-radius: 60px;
        }
        .rightuserinfo {
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .infodetail {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                .nicksex {
                    font-size: 25px;
                    font-weight: 300;
                    img {
                        margin-left: 5px;
                        width: 12px;
                    }
                }
                .editinfo {
                    margin-left: 40px;
                    font-size: 13px;
                    color: #07a4f8;
                    line-height: 30px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    img {
                        width: 15px;
                    }
                }
            }
            .infocontent {
                margin-top: 5px;
                img {
                    margin-right: 4px;
                }
                .infocontent-text {
                    margin-right: 6px;
                }
                .infodetailcontent{
                    margin-left: 20px;
                    color:#09f;
                }
            }
        }
    }
    .account-bind {
        margin-top: 20px;
        padding-right: 20px;
        .bind-title {
            font-size: 18px;
            font-weight: bolder;
            .bind-email {
                font-size: 15px;
                font-weight: normal;
            }
        }
        .bind-detail {
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
            justify-content: space-between;
            padding-right: 100px;
            .item {
                margin-top: 20px;
                width: 47%;
                background-color: #FAFAFC;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border:1px solid #F0F0F2;            
                border-radius: 5px;
                padding-left: 10px;
                .leftitem {
                    margin-left: 20px;
                    padding-top: 20px;
                    padding-bottom: 20px; 
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .emailImg {
                        width: 39px;
                        height: 50px;
                    }
                    .leftdescription {
                        margin-left: 20px;
                        line-height: 20px;
                        font-weight: bolder;
                        .leftdetail {
                            font-weight: normal;
                        }
                    }
                }
                .goImg {
                    margin-right: 20px;
                    width: 25px;
                    height: 25px;
                    background-size: 25px 25px;
                    background-image: url('../../assets/go_page.png')
                }
                &:hover {
                    border: 1px solid #FFD457;
                    .goImg {
                        width: 25px;
                        height: 25px;
                        background-image: url('../../assets/go_page_hover.png')
                    }
                }
            }
        }
    }
}